<div class="bx-shadow justify-between flex items-center w-full py-8 relative z-99">
    <p class="logo ml-12">Music.Fm</p>
    <div class="relative items-center flex">
      <input
        id="inputSearch"
        type="text"
        placeholder="Pesquisar..."
        (keypress)="onPress($event)"
        [value]="inputText"
        (input)="onInput($event)"
      />
      <img
        class="absolute cursor-pointer"
        style="right: 15px"
        src="assets/search.png"
        height="23"
        alt="Imagem Musica"
        (click)="onPressIcon()"
      />
      
    </div>
    <img src="assets/music.png" height="52" alt="Imagem Musica" class="mr-12" />
  </div>
  