.image-card-0 {
  position: absolute;
  height: 125px;
  left: 0;
  z-index: 5;
  margin-left: 5px;
}

.button-delete{
    cursor: pointer;
    position: absolute;
    bottom: -11px;
    right: 7px;
    background: transparent;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: white;
    border: none;
}

.button-delete:hover {
    background-color: rgba(20 20 20 / 10%);
}

.image-card-1 {
  position: absolute;
  height: 145px;
  top: 55px;
  z-index: 25;
}

.image-card-2 {
  position: absolute;
  height: 125px;
  right: 0;
  z-index: 5;
  margin-right: 5px;
}

.img-default {
  height: 125px;
}
