.card-by-album {
    display: flex;
    flex-direction: column; 
    width: 100%;
    align-items:center ;   
    justify-content: flex-start ;   
    margin: 10px 0;
    
}

.text-name{
    font-weight: 700;
    font-size: medium;
    font-family: sans-serif;
    margin: 0 0.7rem;
    margin-top: 1rem;
}